apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "rootpassword"
        - name: MYSQL_DATABASE
          value: "halo"
        - name: MYSQL_USER
          value: "halo"
        - name: MYSQL_PASSWORD
          value: "halopassword"
        ports:
        - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: halo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: halo
  template:
    metadata:
      labels:
        app: halo
    spec:
      containers:
      - name: halo
        image: halohub/halo:latest
        env:
        - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
          value: "com.mysql.cj.jdbc.Driver"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql:3306/halo?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai"
        - name: SPRING_DATASOURCE_USERNAME
          value: "halo"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "halopassword"
        ports:
        - containerPort: 8090
---
apiVersion: v1
kind: Service
metadata:
  name: halo
spec:
  selector:
    app: halo
  ports:
    - port: 80
      targetPort: 8090
  type: NodePort
